@media screen and (max-width:420px) {

    .container{
        justify-content: center;
    }
    
    .songitemcontainer{
        width: 100%;
    }
    
    .songitem{
        width:100%;
    }

    .timestamp{
        display: flex;
    }
}